.bg-valor{
    background-color: $color5;
    h5{
        font-size: 1em;
    }
}

.iconoColor{
    color: $color3;
}

.textoJustificado{
    text-align: justify;
}

.textoNosotros::first-letter{
    color: $color2;
    font-size: 25px;
}

.nros{
    color: $color4;
    border-radius: 10px;
    background-image: radial-gradient(circle at 47.39% 79.86%, #ff7b5f 0, #ff6e5a 25%, #fe5f55 50%, #f64f50 75%, #ef3f4d 100%);
    p{
        font-size: 14px;
        font-weight: 300;
    }
    h5{
        font-size: 20px;
    }
}