.container-fluid{
    padding: 10px;
    background-image: linear-gradient(to right, #003559, #004e6a, #1d6675, #427f7f, #689689);
}

.tituloPrincipal{
    height: 100px;
    display: flex;
    align-items: center;
    color: $color4;
}

.enlaces{
    a{
        text-decoration: none;
        color: $color4;
        &:hover{
            color: $color2;
        }
    }
    span{
        color: $color4;
    }
}



.contenedorProductos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: #5684c9; */
}

.contenedorProducto{
    display:flex;
    width: 360px;
    height: auto;
    margin: 15px 0px;
    background-color: $color5;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    transition: .3s;
    &:hover{
        transform: scale(1.05,1.05);
    }
}

.encabezado{
    /* border-right: 1px solid #ddd; */
    width: 40%;
    padding: 10px;
    text-align: center;
    i{
        font-size: 50px;
        margin: 20px 10px;
        color: $color3;
    }
    h2{
        font-size: 15px;
        margin-top: 15px;
    }
}

.descripcion{
    width: 60%;
    padding: 10px 8px;
    background-color: #fbfbfb;
    text-align: center;
    position: relative;
    font-size: 14px;    
    p{
        margin: 10px 0px;
    }
    a{
        color: $color2;
        text-decoration: none;
        &:hover{
            color: $color3;
        }
    }
}
@media screen and (max-width:1200px){
    .contenedorProducto{
        width: 45%;
    }
}
@media (max-width:992px){
    .contenedorProducto{
        width: 90%;
    }
}

@media (max-width:576px){
    .encabezado{
        padding: 20px 2px;
    }
    h2{
        font-size: 15px;
    }

}



