/*Ejemplo de uso de maps*/
$colores: ("principal": #d64933, "secundario": #0b132b, "fondo":#fcfcfc);
$blanco:#fff;

/*Ejemplo de uso de mixin*/
@mixin dimension($height,$width){
    height:$height;
    width:$width;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    padding-top: 56px;
    scroll-behavior: smooth;
}

body{
    background-color: map-get($colores, "fondo");
}

.introProductos__card{
    /* min-width: 300px; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.03,1.03);
        .introProductos__card__textos-parrafo, .introProductos__card__textos-titulo, .introProductos__card__enlace a{
            display: inline-block;
        }
    }
}

/*Ejemplo de uso de extend*/
%nomuestra{
    display: none;
}

.introProductos__card__textos-titulo{
    @extend %nomuestra;
    margin: 5px;
    text-transform: uppercase;
}

.introProductos__card__textos-parrafo{
    @extend %nomuestra;
    margin: 10px 0;
}

.introProductos__card__enlace{
    a{
        @extend %nomuestra;
        color: map-get($colores, "principal");
        text-decoration: underline;
    }
}

.introProductos__card--persona{
    background-image: url(../images/personas.jpg);
    &:hover{
        background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,.8)),url(../images/personas.jpg);
    }
}

.introProductos__card--empresa{
    background-image: url(../images/empresa.jpg);
    &:hover{
        background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,.8)),url(../images/empresa.jpg);
    }
}

.card{
    @include dimension(auto,auto);
    h3{
        font-size: 20px;
    }
}

.rrss{
    font-size: 24px;
}

.encima{
    &:hover{
        color: $blanco;
    }
}

footer{
    background-color: map-get($colores, "secundario") ;
    .nav-link{
        color: rgb(108, 117, 125);
    }
} 

/*---------------Servicios-----------------*/

@import "_servicios.scss";

/*---------------Contacto-----------------*/

@import "_contacto.scss";


/*---------------Productos-----------------*/

@import "_productos.scss";

/*---------------Nosotros-----------------*/

@import "_nosotros.scss";


@media (max-width:576px){
    .introProductos__card{
        height: 300px;
    }
}