$colorPrincipal: #d64933;
$colorFondo: #fcfcfc;
$colorSecundario:#0b132b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    padding-top: 56px;
    scroll-behavior: smooth;
}

body{
    background-color: $colorFondo;
}

.img-nosotros{
    min-width: 400px;
}

.introProductos__card{
    min-width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.03,1.03);
        .introProductos__card__textos-parrafo, .introProductos__card__textos-titulo, .introProductos__card__enlace a{
            display: inline-block;
        }
    }
}

.introProductos__card__textos-titulo{
    margin: 5px;
    text-transform: uppercase;
    display: none;
}

.introProductos__card__textos-parrafo{
    margin: 10px 0;
    display: none;
}

.introProductos__card__enlace{
    a{
        color: $colorPrincipal;
        text-decoration: underline;
        display: none;
    }
}

.introProductos__card--persona{
    grid-area: introProductos__card--persona;
    background-image: url(../images/personas.jpg);
    &:hover{
        background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,.8)),url(../images/personas.jpg);
    }
}

.introProductos__card--empresa{
    grid-area: introProductos__card--empresa;
    background-image: url(../images/empresa.jpg);
    &:hover{
        background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,.8)),url(../images/empresa.jpg);
    }
}

.card{
    width: 230px;
    height: 400px;
}

.rrss{
    font-size: 24px;
}

.encima{
    color: $colorSecundario;
    &:hover{
        color: $colorPrincipal;
    }
}

footer{
    .nav-link{
        color: rgb(108, 117, 125);
    }
} 

/*---------------Servicios-----------------*/

@import "_servicios.scss";

/*---------------Contacto-----------------*/

@import "_contacto.scss";