/*Ejemplo de uso de maps*/
/*Ejemplo de uso de mixin*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding-top: 56px;
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
}

.introProductos__card {
  /* min-width: 300px; */
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-align: center;
  overflow: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.introProductos__card:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.introProductos__card:hover .introProductos__card__textos-parrafo, .introProductos__card:hover .introProductos__card__textos-titulo, .introProductos__card:hover .introProductos__card__enlace a {
  display: inline-block;
}

/*Ejemplo de uso de extend*/
.introProductos__card__textos-titulo, .introProductos__card__textos-parrafo, .introProductos__card__enlace a {
  display: none;
}

.introProductos__card__textos-titulo {
  margin: 5px;
  text-transform: uppercase;
}

.introProductos__card__textos-parrafo {
  margin: 10px 0;
}

.introProductos__card__enlace a {
  color: #d64933;
  text-decoration: underline;
}

.introProductos__card--persona {
  background-image: url(../images/personas.jpg);
}

.introProductos__card--persona:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0.8))), url(../images/personas.jpg);
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.8)), url(../images/personas.jpg);
}

.introProductos__card--empresa {
  background-image: url(../images/empresa.jpg);
}

.introProductos__card--empresa:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0.8))), url(../images/empresa.jpg);
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.8)), url(../images/empresa.jpg);
}

.card {
  height: auto;
  width: auto;
}

.card h3 {
  font-size: 20px;
}

.cardServicio {
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.cardServicio img {
  border-radius: 10px;
}

.cardServicio:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.rrss {
  font-size: 24px;
}

.encima:hover {
  color: #fff;
}

footer {
  background-color: #0b132b;
}

footer .nav-link {
  color: #6c757d;
}

/*---------------Servicios-----------------*/
.descripcionServicio p {
  margin: 20px 0px 30px 0px;
  padding: 0 40px;
}

.descripcionServicio h2 {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .descripcionServicio p {
    padding: 0px;
    margin: 10px 0px;
  }
}

@media (max-width: 996px) {
  .descripcionServicio p {
    margin: 20px 0px 30px 0px;
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .descripcionServicio p {
    padding: 0;
  }
}

/*---------------Contacto-----------------*/
.mapa {
  min-height: 300px;
}

textarea {
  height: 150px;
}

/*---------------Productos-----------------*/
.container-fluid {
  padding: 10px;
  background-color: lightsalmon;
}

.tituloPrincipal {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enlaces a {
  text-decoration: none;
  color: black;
}

.subrayado {
  border-top: 1px solid black;
  width: 30px;
  margin: 0 auto 10px auto;
}

.contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* background-color: #5684c9; */
}

.contenedorProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: auto;
  margin: 15px 0px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
}

.contenedorProducto:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.encabezado {
  /* border-right: 1px solid #ddd; */
  width: 40%;
  padding: 10px;
  text-align: center;
}

.encabezado i {
  font-size: 50px;
  margin: 20px 10px;
  color: #d64933;
}

.encabezado h2 {
  font-size: 18px;
  margin-top: 15px;
}

.descripcion {
  width: 60%;
  padding: 10px 8px;
  background-color: #fbfbfb;
  text-align: center;
  position: relative;
  font-size: 16px;
}

.descripcion p {
  margin: 10px 0px;
}

.descripcion a {
  text-decoration: none;
}

.descripcion a:hover {
  color: #d64933;
}

@media screen and (max-width: 1200px) {
  .contenedorProducto {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .contenedorProducto {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .encabezado {
    padding: 20px 2px;
  }
  h2 {
    font-size: 15px;
  }
}

/*---------------Nosotros-----------------*/
.bg-valores {
  background-color: #fff;
}

@media (max-width: 576px) {
  .introProductos__card {
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */